<div>
  <h1 mat-dialog-title>Please Log In First</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <div class="form-container">
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="spaced-form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="spaced-form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="accent"
      (click)="onLogin()"
      [disabled]="loginForm.invalid">
      LOG IN
    </button>
  </div>
</div>
