
<div class="container">
  <mat-toolbar color="primary">
    <span>Crossclip</span>
  </mat-toolbar>
  <div style="height: 90%">
    <mat-sidenav-container class="container">
      <mat-sidenav
        mode="side"
        fixedInViewport="true"
        fixedTopGap="64"
        opened>
        <mat-nav-list>
          <a mat-list-item *ngFor="let navItem of navEndpoints" [routerLink]="[navItem.path]">
            {{ navItem.text | titlecase }}
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content style="height: 90%">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
