
<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Crossclip</span>
    <span style="flex: 1 1 auto"><!-- Fill middle --></span>
    <mat-icon *ngIf="offline$ | async">offline_bolt</mat-icon>
    <app-profile-button></app-profile-button>
  </mat-toolbar>
  <div style="height: 90%">
    <mat-sidenav-container class="container">
      <mat-sidenav
        #sidenav
        [mode]="(isSmall$ | async) ? 'over' : 'side'"
        [opened]="!(isSmall$ | async) && !(userLoggedOut$ | async)"
        fixedInViewport="true"
        fixedTopGap="64">
        <mat-nav-list>
          <a mat-list-item
             *ngFor="let navItem of navEndpoints"
             [routerLink]="[navItem.path]"
             [disabled]="navItem.disableOffline && (offline$ | async)">
            <mat-icon style="margin-right: 8px">{{ navItem.icon }}</mat-icon>
            {{ navItem.text | titlecase }}
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content style="height: 90%">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
