
<div [ngClass]="{ 'desktop-container': !(this.isMobile$ | async), 'mobile-container': this.isMobile$ | async }">
  <div class="login-info-box">
    <h1>Signup For Crossclip</h1>
  </div>
  <div class="login-form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="forms-container">
        <mat-form-field appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput formControlName="displayName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="emailControl.errors?.required">Field is required</mat-error>
          <mat-error *ngIf="emailControl.errors?.email">Value must be a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="passwordControl.errors?.required">Field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error *ngIf="confirmPasswordControl.errors?.required">Field is required</mat-error>
          <mat-error *ngIf="signupForm.hasError('noMatch')">Passwords do not match</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">SIGN UP</button>
        <mat-progress-bar *ngIf="isSubmitted$ | async" color="accent" mode="indeterminate"></mat-progress-bar>
        <p class="mat-caption" style="margin-top: 8px">Already have an account?</p>
        <a mat-stroked-button [routerLink]="['/login']" style="margin-top: 4px">LOGIN</a>
      </div>
    </form>
  </div>
  <div class="login-status-box" *ngIf="!!(errorText$ | async)">
    <h3>Error while signing up:</h3>
    <h4 class="app-warn-color">{{ errorText$ | async }}</h4>
  </div>
  <div class="providers-box">
    <h3>Or Sign up with</h3>
    <div class="provider-btn-box">
      <button mat-raised-button class="provider-btn" (click)="onGoogleSignIn()">
        <mat-icon svgIcon="google_logo"></mat-icon>
        Google
      </button>
    </div>
  </div>
</div>
