
<mat-list-item @fadeClip class="custom-mat-list-item mat-elevation-z1">
  <div class="main-content">
    <div class="meta-data-container">
      <p class="mat-caption">
        <span class="meta-data-displays">
          Created
          &#8226;
          {{ clip.created.toDate() | date }}
        </span>
        <span class="meta-data-displays">
          Type
           &#8226;
          {{ clip.clipType }}
         </span>
        <span class="meta-data-displays">
          <mat-icon *ngIf="clip.synced" inline="true">cloud_done</mat-icon>
        </span>
      </p>
    </div>
    <app-clip-content-view [content]="clip.content" [type]="clip.clipType"></app-clip-content-view>
    <div *ngIf="clip.comment; else addDescriptionButton">
      <span class="mat-caption">
        Comment &#8226; {{ clip.comment }}
        <button mat-icon-button (click)="onShowAddComment(true)"><mat-icon>edit</mat-icon></button>
      </span>
    </div>
    <ng-template #addDescriptionButton>
      <div>
        <button mat-icon-button color="primary" style="margin: 4px" (click)="onShowAddComment()">
          <mat-icon>short_text</mat-icon>
        </button>
        <mat-form-field *ngIf="showAddComment" style="border-top: none">
          <mat-label>Add Comment</mat-label>
          <input matInput [(ngModel)]="addCommentText" type="text">
        </mat-form-field>
        <button mat-icon-button *ngIf="showAddComment" (click)="onSetClipComment(addCommentText)" [disabled]="addCommentText.length < 1"><mat-icon>done</mat-icon></button>
      </div>
    </ng-template>
  </div>
  <div class="actions-box">
    <app-clip-actions-box
      [synced]="clip.synced"
      (setToClipboardAction)="onCopyText()"
      (syncAction)="onSyncClip()"
      (removeAction)="onRemoveClip()">
    </app-clip-actions-box>
  </div>
</mat-list-item>

<ng-template #addCommentDialog>
  <h1 mat-dialog-title>Update Comment for Clip</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Update Comment</mat-label>
      <input matInput #commentInput="matInput" [value]="this.clip.comment" type="text">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="null">CANCEL</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="commentInput.value">UPDATE</button>
  </div>
</ng-template>

<ng-template #confirmDeleteSyncTemplate>
  <h1 mat-dialog-title>Are You Sure?</h1>
  <div mat-dialog-content>
    <h3>Are you sure that you want to delete this clip from the server?</h3>
    <p>
      If you cancel, the clip will still be removed from the local clips list. However, it will be persisted remotely.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="false">CANCEL</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">DELETE</button>
  </div>
</ng-template>
