
.main-content
  width: 100%

.custom-mat-list-item
  height: auto
  border-style: ridge
  border-radius: 8px
  width: 95%
  margin: 8px auto auto

.no-bottom-margin
  margin-bottom: 0

.meta-data-displays
  margin-left: 4px
  margin-right: 4px

.actions-box
  position: absolute
  right: 16px

.content-container
  display: -webkit-box
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical
  white-space: pre-line
  width: 85%

.content-container > pre
  overflow: hidden
  white-space: pre-wrap
